
@{
    ViewBag.Title = "Musteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






@using E_ticaret.Models
@model List<Kullanici>

<script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
</script>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        @*<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>*@
        <h5>Müşteriler</h5>
    </div>
    <div>
        <a href="/Admin/MusteriEkle" class="btn-warning btn-facebook ">Yeni Ekle</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="myTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row"><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Kullanıcı Id</th><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" style="width: 62px;" aria-sort="ascending">Kullanıcı Adı</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 50px;">Kullanıcı Soyadı</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 31px;">Kayıt Tarihi</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Parola</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Rol Id</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Ülke</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Şehir</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Mahalle</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Cadde</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Sokak</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Apartan No</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Daire No</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Güncelle</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Sil</th></tr>
                            </thead>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Kullanıcı id</th><th rowspan="1" colspan="1">Kullanıcı Adı</th><th rowspan="1" colspan="1">Kullanıcı Soyadı</th><th rowspan="1" colspan="1">Kayıt Tarihi</th><th rowspan="1" colspan="1">Parola</th><th rowspan="1" colspan="1">Rol id</th><th rowspan="1" colspan="1">Ülke</th><th rowspan="1" colspan="1">Şehir</th><th rowspan="1" colspan="1">Mahalle</th><th rowspan="1" colspan="1">Cadde</th><th rowspan="1" colspan="1">Sokak</th><th rowspan="1" colspan="1">Apartman No</th><th rowspan="1" colspan="1">Daire No</th></tr>
                            </tfoot>
                            <tbody>

                                @foreach (Kullanici item in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td>@item.Kullanici_id</td>
                                        <td>@item.Kullanici_adi</td>
                                        <td>@item.kullanici_soyadi</td>
                                        <td>@item.kayit_tarih</td>
                                        <td>@item.parola</td>
                                        <td>@item.Rol</td>

                                        <td> @Html.ActionLink("Güncelleme", "M_Guncelle", new { id = item.Kullanici_id })</td>
                                        <td><a href="#@item.Kullanici_id">Sil</a></td>

                                    </tr>


                                }

                            </tbody>
                        </table>
                    </div>
                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
            </div>
        </div>
    </div>
</div>